/*
   LAYOUT
*/

.layout {
    width: 100%;
    height: 100vh;

    display: grid;

    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;

    position: relative;

    overflow: hidden;

    background: #f8f8f8;
}


/*
   PANELS
*/

.candidate,
.employer,
.discussion,
.company {

    display: flex;

    justify-content: center;
    align-items: center;

    font-size: 3rem;
    font-weight: bold;

}


/*
   POSITIONS
*/

.candidate {

    grid-column: 1;
    grid-row: 1;

}

.employer {

    grid-column: 2;
    grid-row: 1;

}

.discussion {

    grid-column: 1;
    grid-row: 2;

}

.company {

    grid-column: 2;
    grid-row: 2;

}


/*
   CENTER LINES
*/

.line-horizontal {

    position: absolute;

    top: 50%;
    left: 0;

    width: 100%;
    height: 2px;

    background: #d8d8d8;

    transform: translateY(-50%);

    z-index: 1;

}

.line-vertical {

    position: absolute;

    left: 50%;
    top: 0;

    width: 2px;
    height: 100%;

    background: #d8d8d8;

    transform: translateX(-50%);

    z-index: 1;

}


/*
   CENTER
*/

.center {

    position: absolute;

    left: 50%;
    top: 50%;

    transform: translate(-50%, -50%);

    width: 340px;
    height: 340px;

    border-radius: 50%;

    background: white;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    text-align: center;

    box-shadow: 0 10px 40px rgba(0,0,0,.08);

    z-index: 10;

}


/*
   CENTER TEXT
*/

.center h1 {

    font-size: 4rem;

    margin-bottom: 15px;

}

.center p {

    font-size: 1.3rem;

    line-height: 2rem;

}


/*
   PANEL TITLES
*/

.candidate h2,
.employer h2,
.discussion h2,
.company h2 {

    font-size: 4rem;
    font-weight: 700;

}